@{
    ViewData["Title"] = "Home Page";
}
<h1>Its Movie Time</h1>
<h2><a class="btn btn-lg btn-success fullwidth" href="/Movies"><span class="big"><i class="fas fa-film"> </i> Let's go to the movies</span></a></h2>
<br />
<a href="/Reviews" class="btn btn-primary">Read the Reviews</a>